<!DOCTYPE html>
<html>
  <head>
    <title>AppyBlog</title>


     <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header id="main_navigation" class="clearfix">
		<%= link_to '$80 Million Project', root_path, class: "name" %>
		<nav>
		<%= link_to "Articles", posts_path %>
		<%= link_to "Projects", projects_path %>
		<%= link_to "contacts", new_contact_path %>
    <% if user_signed_in? %>
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "Do you Really want to Sign Out?"} %>
    <% end %>
	</nav>
		
	</header>

  <% if notice %>
      <p class="notice"><%= notice %></p>
      <% elsif alert %>
      <p class="alert"><%= alert %></p>
  <% end %>
  
    <%= yield %>

     <footer id="main_footer">
  <p class="copyright">&copy; 2018 $80 Million</p>
  <nav>

    <a href="http://twitter.com/#" target="_blank"><i class="fab fa-twitter glow"></i></a>
    <a href="http://facebook.com/#" target="_blank"><i class="fab fa-facebook glow"></i></a>
    <a href="http://instagram.com/#" target="_blank"><i class="fab fa-instagram glow"></i></a>
  </nav>
</footer>
  </body>
</html>
